html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1b1d20;
}

#NavBar {
    position: sticky;
    top: 0;
    background-color: #C8D7EB;
    display: flex;
    align-items: center;
    z-index: 50;
}

#NavBar a {
    font-weight: bold;
    text-decoration: none;
    color: #4f4f4f;
    display: flex;
    align-items: center;
    height: 100px;
    font-size: 20px;
    font-weight: bolder;
    font-weight: 900;
    padding: 20px;
}

#NavBar a:hover {
    background-color: #A7C0E0;
    color: #000000;
}

#NavBar a:active {
    background-color: #7E9BBF;
    color: #FFFFFF;
}

#logo {
    height: 100px;
}

.SlideShow {
    width: 1000px;
    height: 600px;
    position: relative;
    margin: auto;
    margin-top: 60px;
    overflow: hidden;
}

.SlideContainer {
    display: flex;
    transition: transform 0.6s ease-in-out;
}

.Slides {
    min-width: 1000px;
    height: 600px;
    position: relative;
}

.carousel_img {
    height: 600px;
    border-radius: 20px;
}

.Dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 0.8;
    transition: opacity 0.5s ease;
}

.dot {
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: 0 20px;
    background-color: #4f4f4f;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #ffffff;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.song {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 20px;
    cursor: pointer;
}

.cover {
    position: absolute;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: transform 0.3s, opacity 0.3s;
}

.cover:nth-child(2) {
    transform: translateX(0px);
    opacity: 0;
    z-index: -1;
}

.cover:nth-child(3) {
    transform: translateX(0px);
    opacity: 0;
    z-index: -2;
}

.cover:nth-child(4) {
    transform: translateX(0px);
    opacity: 0;
    z-index: -3;
}

.song:hover .cover:nth-child(2) {
    transform: translateX(160px);
    opacity: 1;
}

.song:hover .cover:nth-child(3) {
    transform: translateX(320px);
    opacity: 1;
}

.song:hover .cover:nth-child(4) {
    transform: translateX(480px);
    opacity: 1;
}