html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1b1d20;
}

#NavBar {
    position: sticky;
    top: 0;
    background-color: #C8D7EB;
    display: flex;
    align-items: center;
    z-index: 2;
}

#NavBar a {
    font-weight: bold;
    text-decoration: none;
    color: #4f4f4f;
    display: flex;
    align-items: center;
    height: 100px;
    font-size: 20px;
    font-weight: bolder;
    font-weight: 900;
    padding: 20px;
}

#NavBar a:hover {
    background-color: #A7C0E0;
    color: #000000;
}

#NavBar a:active {
    background-color: #7E9BBF;
    color: #FFFFFF;
}

#logo {
    height: 100px;
}

.SlideShow {
    width: 1000px;
    height: 600px;
    position: relative;
    margin: auto;
    margin-top: 60px;
    overflow: hidden;
}

.SlideContainer {
    display: flex;
    transition: transform 0.6s ease-in-out;
}

.Slides {
    min-width: 1000px;
    height: 600px;
}

.carousel_img {
    height: 600px;
    border-radius: 20px;
}

.Dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 0.8;
    transition: opacity 0.5s ease;
}

.dot {
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: 0 20px;
    background-color: #4f4f4f;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #ffffff;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.exploremusic {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}

.discovery-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 32px;
    font-weight: 900;
    color: #4f4f4f;
    background-color: #C8D7EB;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.6s ease;
    border: 2px solid transparent;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.discovery-button:hover {
    background-color: #A7C0E0;
    color: #000000;
    box-shadow: 0 6px 10px rgba(0,0,0,0.2);
}

.discovery-button:active {
    background-color: #7E9BBF;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}